@import "tailwindcss";

@theme {
  --animate-shake: shake 0.4s ease-in-out;

  @keyframes shake {
    0%, 100% { transform: translateX(0); }
    20%, 60% { transform: translateX(-5px); }
    40%, 80% { transform: translateX(5px); }
  }
}


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f1f5f9;
  color: #0f172a;
}